@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-gray-50 text-gray-900 dark:bg-zinc-950 dark:text-zinc-100;
  }
}

/* Custom Scrollbar for Chat Inbox */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-700;
}
